* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display:  grid;
    grid-template-areas:
    "navbar navbar"
    "aside-bar grilla-productos"
    "pie-pagina pie-pagina";
    grid-template-columns: 15% 85%;
    grid-template-rows: 60px 1fr 60px;
    height: 100vh;
    font-family: "Roboto", sans-serif;
    color: #1D0D38;
}

h2 {
    margin-bottom: 32px;
}

.navbar {
    background-color: #1D0D38;
    grid-area: navbar;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: sticky;
    top: 0px;
    z-index: 100;
}
.navbar img {
    height: 30px;
}

.aside-bar {
    grid-area: aside-bar;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    background-color: white;
    z-index: 99;
    
}

.menu-categorias {
    padding: 20px 32px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: sticky;
    top: 60px;
}

.categ {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 8px;
    color: rgb(0, 38, 255);
    transition: all 0.2s ease-in-out;
}

.categ:hover {
    color: rgb(255, 115, 0);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: underline;
}

.menu-categorias p {
    margin-top: 12px;
}

.cantidad {
    color: rgb(192, 192, 192);
}

.grilla-productos {
    grid-area: grilla-productos;
    padding: 20px;

}

.productos {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 32px;
    min-width: 900px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-items: center;
    background-color: white;
    border: 1px solid #E4E6EE;
    border-radius: 16px;
    padding: 20px;
    min-width: 350px;
}

.detalle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.detalle h3 {
    margin-top: 32px;
}

.detalle p {
    margin-top: 8px;
    margin-bottom: 24px;
}

.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.card button {
    background-color: white;
    border: 1px solid #1D0D38;
    color: #1D0D38;
    padding: 12px 0;
    font-size: 16px;
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
}

.card button:hover {
    background-color: rgb(0, 38, 255);
    border: 1px solid white;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.pie-pagina {
    background-color: white;
    grid-area: pie-pagina;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5D5160;
    border-top: 1px solid #E4E6EE;
}
